#Unity
/CirclesTestGame/Library/
/CirclesTestGame/*.csproj
/CirclesTestGame/obj/Debug/
/CirclesTestGame/Temp/

#VisualStudio
/CirclesTestGame/.vs
/CirclesTestGame/.vs/CirclesTestGame

#Idea
/CirclesTestGame/.idea